{% block content %}
		<form action="" method="post">
			{{ form.hidden_tag() }}
		<p>
			<head> 
				<title>Login</title>
			</head>
			
      {% with messages = get_flashed_messages() %}
			{% for message in messages %}
				{% if message %}
					<p>{{message}}</p>
				{% endif %}
			{% endfor %}
		{% endwith %}
			
			<h3>Please log into your account:</h3>
			<p>
			{{ form.uname.label }}<br>
			{{ form.uname(size=32) }}
		</p>
		</p>
		<p>
		    {{ form.pword.label }}<br>
		    {{ form.pword(size=32) }}
		</p>
		<p>
			{{ form.authcode.label }}<br>
			{{ form.authcode(size=32) }}
		</p>
		<p>
			{{ form.submit() }} 
		</p>
		<p>
		New user? <a href={{ url_for('register') }}>Click here to register.</a>
		</p>
		</form>
{% endblock %}


