{% extends "wordflask-base.html" %}

{% block title %}register for an account{% endblock %}

{% block head  %}{{ super() }}{% endblock %}

{% block content %}
     {% for error in form.uname.errors %}
     <p style="color: red;">{{error}}</p>
     {% endfor %}

     <!-- BEGIN: account registration form -->
     <form action="{{ url_for('register') }}" method="post">
     {{ form.hidden_tag() }}
     <p>
     {{ form.uname.label }}<br>
     {{ form.uname(size=32) }}
     </p>
     <p>
     {{ form.pword.label }}<br>
     {{ form.pword(size=32) }}
     </p>
     <p>
     {{ form.authcode.label }}<br>
     {{ form.authcode(size=32) }}
     </p>
     <p>
     {{ form.submit() }}
     <input type="reset" value="Start Over">
     </p>
     <p>
     Already registered? Click <a href="{{ url_for('login') }}">here</a> to login to your account.
     </p>
     </form>	
     <!-- END: account registration form -->	
{% endblock %}
