{% block content %}
		<form action="" method="post">
			{{ form.hidden_tag() }}
		<p>
			<head> 
				<title>Registration</title>
			</head>
			<h3>Please register:</h3>
			<p>
			{{ form.username.label }}<br>
			{{ form.username(size=32) }}
			{% for error in form.username.errors %}
			<span style="color: red;">{{error}}</span>
			{% endfor %}
		</p>
		</p>
		<p>
		    {{ form.password.label }}<br>
		    {{ form.password(size=32) }}
		    {% for error in form.password.errors %}
			<span style="color: red;">{{error}}</span>
			{% endfor %}
		</p>
		<p>
		    {{ form.password2.label }}<br>
		    {{ form.password2(size=32) }}
		    {% for error in form.password2.errors %}
			<span style="color: red;">{{error}}</span>
			{% endfor %}
		</p>
		<p>
			{{ form.authcode.label }}<br>
			{{ form.authcode(size=32) }}
		</p>
		<p>
			{{ form.submit() }} 
		</p>
		</form>
{% endblock %}
