{% extends "wordflask-base.html" %}

{% block title %}spell check query{% endblock %}

{% block head  %}{{ super() }}{% endblock %}

{% block content %}
     <!-- BEGIN: navigation links -->
     <p>You are logged in, <strong>{% print(current_user.username) %}</strong>!</p>
     <p>&#9654; <a href="/">Main Page</a></p>
     <p>&#9654; <a href="{% print(url_for('logout')) %}">Logout</a></p>
     <!-- END: navigation links -->    

     <!-- BEGIN: spell check results -->
     {% if misspelled_words %}
     <p>
     {% for misspelled_word in misspelled_words.split("Misspelled word: ") %}
     {% if misspelled_word %}
     <strong>Misspelled word: </strong> {{ misspelled_word.strip() }}<br>
     {% endif %}
     {% endfor %}
     </p>
     {% endif %}
     <!-- END: spell check results -->
     <!-- BEGIN: spell check query form -->
     <form action="{{ url_for('spell_check') }}" method="post">
     {{ form.hidden_tag() }}
     <p>
     Please enter the text that you want me to check for spelling errors.
     </p>
     <p>
     {{ form.textfield(size=1000) }}
     </p>
     <p>
     {{ form.submit() }}
     <input type="reset" value="Start Over">
     </p>
     </form>	
     <!-- END: spell check query form -->	
{% endblock %}
